*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(27, 27, 27);
}
.containar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    width: 270px;
    margin: 15px;
    border-radius: 15px;
}

.card-image{
    height: 300px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
}

.car-1{
    background-image: url(atomic.jpeg);
}

.car-2{
    background-image: url(rich\ dad.jpeg);
}

.car-3{
    background-image: url(alchmist.jpeg);
}

.card p , h2{
    padding: 5px;
    text-align: center;
}

.card a{
    font-size: 12px;
    color: rgb(0, 60, 255);
    margin: 10px;
}

.card a:hover{
    color: aqua;
    text-decoration: none;
}

.card:hover{
    background-color: rgb(43, 38, 38);
    color: white;
}

h1{
    color: aliceblue;
    text-align: center;
}
nav{
    background-color: rgb(111, 113, 113);
}
.nav a{
    color: aliceblue;
}
.nav a:hover{
    text-decoration: none;
    color: cornflowerblue;
}
.fot{
    background-color: rgb(111, 113, 113);
    text-align: center;
    padding: 10px;
    
}
.fot a{
    color: aliceblue;
}
.fot a:hover{
    text-decoration: none;
    color: cornflowerblue;
}
header{
    padding: 20px;
}
